

{% extends 'users/login_base.html' %}
{% load static %}

{% block forms %}
    <form action="" method="Post">
        {% csrf_token %}
        {% for key,error in form.errors.items %} 
            <p>{{ error }}</p>
        {% endfor %}
        <div class="row m-0">
            <div class="form-group col-6">
                {{form.new_password1.label}}
            </div>
            <div class="form-group col">
                {{form.new_password1}}
            </div>
        </div>
        <div class="row m-0">
            <div class="form-group col-6">
                <label for="new_password2">Confirm New Password</label>
            </div>
            <div class="form-group col">
                {{form.new_password2}}
            </div>
        </div>
            
           
     
        <!-- {{form}} -->
    <button type="submit" class="btn  btn-primary">Reset Password</button>
    </form>
  
{% endblock forms %}   
    
